<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.xavier.order.mapper.ProductOrderMapper">
    <select id="loadById" parameterType="long" resultType="ProductOrder">
        select * from t_order_product where id = #{id}
    </select>
    <select id="loadAll" resultType="adoptOrder">
        select * from t_order_product
    </select>
    <insert id="save" parameterType="ProductOrder" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into t_order_product(
            digest,
            state,
            price,
            orderSn,
            paySn,
            lastPayTime,
            lastConfirmTime,
            product_id,
            user_id,
            shop_id
        )
        values
        (
            #{digest},
            #{state},
            #{price},
            #{orderSn},
            #{paySn},
            #{lastPayTime},
            #{lastConfirmTime},
            #{product_id},
            #{user_id},
            #{shop_id}
        )
    </insert>

    <update id="update" parameterType="ProductOrder">
        update t_order_product set
            digest=#{digest},
            state=#{state},
            price=#{price},
            orderSn=#{orderSn},
            paySn=#{paySn},
            lastPayTime=#{lastPayTime},
            lastConfirmTime=#{lastConfirmTime},
            product_id=#{product_id},
            user_id=#{user_id},
            shop_id=#{shop_id}
        where id = #{id}

    </update>


    <delete id="remove" parameterType="long">
        delete from t_order_product where id=#{id}
    </delete>
    <!--    //分页查询总条数-->
    <!--    Long queryCount(BaseQuery baseQuery);-->
    <select id="queryCount" parameterType="ProductOrderQuery" resultType="long">
        select count(*) from t_order_product t
        <where>
            <if test="keywords!=null and keywords!=''">
                AND t.name LIKE concat('%',#{keywords},'%')
            </if>
            <if test="state!=-1">
                AND t.state =#{state}
            </if>
        </where>
    </select>

    <!--    //查询当前页数-->
    <!--    List<T> queryData(BaseQuery baseQuery);-->
    <select id="queryData" parameterType="ProductOrderQuery" resultType="ProductOrder">
        select t.* from t_order_product t
        <where>
            <if test="keywords!=null and keywords!=''">
                AND t.name LIKE concat('%',#{keywords},'%')
            </if>
            <if test="state!=-1">
                AND t.state =#{state}
            </if>
        </where>
        limit #{start},#{pageSize}
    </select>
</mapper>