<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.xavier.pay.mapper.PayBillMapper">
    <select id="loadById" parameterType="long" resultType="PayBill">
        select * from t_pay_bill where id = #{id}
    </select>
    <select id="loadAll" resultType="payBill">
        select * from t_pay_bill
    </select>
    <insert id="save" parameterType="PayBill" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into t_pay_bill
         (digest, money,state, lastPayTime, payChannel, createTime, updateTime, user_id, nickName, unionPaySn, businessType, businessKey, shop_id)
        values (
            #{digest},
            #{money},
            #{state},
            #{lastPayTime},
            #{payChannel},
            #{createTime},
            #{updateTime},
            #{user_id},
            #{nickName},
            #{unionPaySn},
            #{businessType},
            #{businessKey},
            #{shop_id}

        );
    </insert>

    <!--PayBill loadByUnionPaySn(String unionPaySn);-->
    <select id="loadByUnionPaySn" parameterType="string" resultType="PayBill">
        select * from t_pay_bill WHERE unionPaySn = #{unionPaySn}
    </select>


    <update id="update" parameterType="PayBill">
        update t_pay_bill set
            digest=#{digest},
            money=#{money},
            state=#{state},
            lastPayTime=#{lastPayTime},
            payChannel=#{payChannel},
            createTime=#{createTime},
            updateTime=#{updateTime},
            user_id=#{user_id},
            nickName=#{nickName},
            unionPaySn=#{unionPaySn},
            businessType=#{businessType},
            businessKey=#{businessKey},
            shop_id=#{shop_id}
        where id = #{id}

    </update>


    <delete id="remove" parameterType="long">
        delete from t_pay_bill where id=#{id}
    </delete>
    <!--    //分页查询总条数-->
    <!--    Long queryCount(BaseQuery baseQuery);-->
    <select id="queryCount" parameterType="PayBillQuery" resultType="long">
        select count(*) from t_pay_bill t
        <where>
            <if test="keyword!=null and keyword!=''">
                AND t.name LIKE concat('%',#{keyword},'%')
            </if>
            <if test="state!=-1">
                AND t.state =#{state}
            </if>
        </where>
    </select>

    <!--    //查询当前页数-->
    <!--    List<T> queryData(BaseQuery baseQuery);-->
    <select id="queryData" parameterType="PayBillQuery" resultType="PayBill">
        select t.* from t_pay_bill t
        <where>
            <if test="keyword!=null and keyword!=''">
                AND t.name LIKE concat('%',#{keyword},'%')
            </if>
            <if test="state!=-1">
                AND t.state =#{state}
            </if>
        </where>
        limit #{start},#{pageSize}
    </select>
</mapper>